.e-mosaic-banner__banner-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.e-mosaic-banner__banner-list--item {
  position: relative;
}

.e-mosaic-banner__image {
  width: 708px;
  height: 360px;
}

.container-mosaic-banner-duplo {
  position: absolute;
  top: 28%;
  width: 335px;
  height: 162px;
  background-color: #447355;
  color: white;
  z-index: 9999;
}

.e-mosaic-banner__banner-list--item:nth-child(1) .container-mosaic-banner-duplo {
  left: 0;
  right: auto;
}

.e-mosaic-banner__banner-list--item:nth-child(2) .container-mosaic-banner-duplo {
  right: 0;
  left: auto;
}


.container-mosaic-banner-duplo h1 {
  padding-top: 18px;
  margin-left: 19px;
  font-size: 24px;
}

.container-mosaic-banner-duplo .subtitle-banner-duplo{
  margin-top: 5px;
  margin-left: 19px;
  font-size: 16px;
}

.container-mosaic-banner-duplo .subsubtitle-banner-duplo{
  font-size: 12px;
  margin-left: 19px;
}

.button-confira-banner-duplo{
  width: 111px;
  height: 32px;
  margin-top: 11px;
  margin-left: 19px;
  color: black;
  background-color: #EBC172;
  border-radius: 40px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}