.e-footer-part-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #447355;
    border-bottom: #518A70;
    margin-top: 61px;
    width: 100%;
    height: 116px;
}

.social-media {
    display: flex;
    gap: 20px;
    margin-top: 22px;
    margin-bottom: 50px;
}
