.e-footer-part-2 {
    border-top: 1px solid #518A70;
    background-color: #447355;
    color: white;
    width: 100%;
    height: 389px;
    display: flex;
}

.e-menus-footer {
    margin-top: 50px;
    display: flex;
}

.institucional {
    margin-left: 153px;
    font-size: 16px;
    list-style: none;
    line-height: 2;
    font-weight: normal;
}

ul.list-institucional {
    list-style: none;
    padding-left: 0;
  }

.ajuda {
    margin-left: 140px;
    font-size: 16px;
    list-style: none;
    line-height: 2;
    font-weight: normal;
}

ul.list-ajuda {
    list-style: none;
    padding-left: 0;
  }

.nossos-produtos {
    margin-left: 140px;
    font-size: 16px;
    list-style: none;
    line-height: 2;
    font-weight: normal;
}

ul.list-nossos-produtos {
    list-style: none;
    padding-left: 0;
  }

.atendimento {
    margin-left: 140px;
    font-size: 16px;
    list-style: none;
    line-height: 1.5;
    font-weight: normal;
}

ul.list-atendimento {
    list-style: none;
    padding-left: 0;
  }

.e-menus-footer h2 {
    font-size: 20px;
}